.contracts-statistics {
  + .contracts-statistics {
    //margin-top: 1em;
  }
  &_info {
    text-align: center;
    position: relative;
    margin: 0 2em;
    .grid-cell-1-7 & {
      margin: 0 0.5em;
    }
    &__count {
      font-size: 5em;
      font-weight: bold;
      text-align: center;
      line-height: 1.2em;
    }
    &__count_new, &__count_new_error {
      font-size: 4.5em;
      font-weight: bold;
      position: absolute;
      right: 0.2em;
      top: 0;
      border-radius: 50%;
      //border: 1px solid;
      &:before {
        content: '+';
        display: inline;
      }
    }
    &__count_new {
      color: #63c700;
    }
    &__count_new_error {
      color: #C00;
    }
    &__icon {
      position: absolute;
      left: 0;
      font-size: 5em;
      top: 0;
      margin-left: 0.2em;
    }
  }
  &_name {
    text-align: center;
    font-size: 2em;
    padding: 1em 0 0;
    border-top: 2px solid #8dc2fa;
    margin: 0 1.5em;
    .grid-cell-1-7 & {
      margin: 0 0.25em;
    }
  }
  //.grid-row {
  //  + .grid-row {
  //    margin-top: 0.5em;
  //  }
  //}
}

.grid-row {
  &.with-padding {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }
}
.network-type {
  position: relative;
  > .grid-row {
    margin-left: 0;
    margin-right: 0;
  }
  &__title {
    color: #444;
    text-align: center;
    font-size: 3.8em;
    line-height: 1.5em;
    font-weight: bold;
    &.one-line-stat-title {
      padding-top: 0;
    }
    img {
      height: 1.5em;
      vertical-align: middle;
      margin-top: -0.2em;
    }
    span {
      vertical-align: middle;
      &.bold {
        color: #444;
      }
    }
  }
  &__content {
    transition: opacity linear 1s;
    position: relative;
    font-size: 0.9em;
    text-align: right;
    &_short-text {
      font-size: 5em;
      //line-height: 1em;
      color: #aaa;
      font-weight: bold;
      span {
        transition: color 1s linear;
      }
      .bold {
        color: #000;
      }
    }
    &.testnet {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }

    &.testnet {
      .eth-colorized {
        background-color: #fffebb;
      }
      .rsk-colorized, .eos-colorized {
        background-color: #fff7a3;
      }
      .neo-colorized {
        background-color: #fff9d8;
      }
      .tron-colorized {
        background-color: #fff184;
      }
      .waves-colorized {
        background-color: #fff498;
      }
    }
    &.mainnet {
      .eth-colorized {
        background-color: #cdffdc;
      }
      .rsk-colorized, .eos-colorized {
        background-color: #dafdd8;
      }
      .neo-colorized {
        background-color: #d0ffb8;
      }
      .tron-colorized {
        background-color: #e3ffab;
      }
      .waves-colorized {
        background-color: #c0fffc;
      }
    }
  }
  &.mainnet &__content {
    &.testnet {
      opacity: 0;
    }
    &.mainnet {
      opacity: 1;
    }
  }
  &.testnet  &__content {
    &.testnet {
      opacity: 1;
    }
    &.mainnet {
      opacity: 0;
    }
  }
}

.eth-colorized, .rsk-colorized, .neo-colorized {
  .title-colorized {
    //border-right: 3px solid #f6f6f7;
    //background-color: rgba(255, 255, 255, 0.05);
  }
}
.title-colorized {
  padding-top: 5.5em;
  padding-bottom: 5.5em;
  background-color: rgba(0, 0, 0, 0.05);
  &__small {
    padding-top: 0;
    padding-bottom: 0;
    .network-type__title {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}


.contracts-info-row {
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  margin-bottom: -1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  > .grid-cell {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
  }
}
.contracts-counts-rows {
  > .grid-row {
    margin-left: 0;
    margin-right: 0;
  }
  > .grid-row + .grid-row {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: -1px;
  }
  > .grid-row > .grid-cell {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    + .grid-cell {
      border-left: 1px solid rgba(0, 0, 0, 0.05);
    }
  }
}

.statuses-row {
  .grid-cell {
    &:nth-child(1) {
      border-left: 3px solid #ffffff!important;
    }
    &:nth-child(2) {
      border-left: 3px solid #fd821a!important;
    }
    &:nth-child(3) {
      border-left: 3px solid #4bff15!important;
    }
    &:nth-child(4) {
      border-left: 3px solid #28870d!important;
    }
    &:nth-child(5) {
      border-left: 3px solid #a90202!important;
    }
  }
}