.contracts-statistics {
  + .contracts-statistics {
    //margin-top: 1em;
  }
  &_info {
    text-align: center;
    position: relative;
    margin: 0 2em;
    .grid-cell-1-7 & {
      margin: 0 0.5em;
    }
    &__count {
      font-size: 5.5em;
      font-weight: bold;
      text-align: center;
    }
    &__count_new, &__count_new_error {
      font-size: 4.5em;
      font-weight: bold;
      position: absolute;
      right: 0.2em;
      top: 0;
      border-radius: 50%;
      //border: 1px solid;
      &:before {
        content: '+';
        display: inline;
      }
    }
    &__count_new {
      color: #63c700;
    }
    &__count_new_error {
      color: #C00;
    }
    &__icon {
      position: absolute;
      left: 0;
      font-size: 5em;
      top: 0;
      margin-left: 0.2em;
    }
  }
  &_name {
    text-align: center;
    font-size: 2em;
    padding: 1em 0 0;
    border-top: 2px solid #8dc2fa;
    margin: 0 1.5em;
    .grid-cell-1-7 & {
      margin: 0 0.25em;
    }
  }
  .grid-row {
    + .grid-row {
      margin-top: 0.5em;
    }
  }
}

.grid-row {
  &.with-padding {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }
}
.network-type {
  position: relative;
  &__title {
    color: #444;
    text-align: center;
    font-size: 3.8em;
    line-height: 1.5em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    font-weight: bold;
    &.one-line-stat-title {
      padding-top: 0;
    }
    img {
      height: 1.5em;
      vertical-align: middle;
      margin-top: -0.2em;
    }
    span {
      vertical-align: middle;
      &.bold {
        color: #444;
      }
    }
  }
  &__content {
    transition: opacity linear 1s;
    position: relative;
    font-size: 0.9em;
    text-align: right;
    &_short-text {
      font-size: 5em;
      line-height: 1em;
      color: #aaa;
      font-weight: bold;
      span {
        transition: color 1s linear;
      }
      .bold {
        color: #000;
      }
    }
    &.testnet {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }

    &.testnet {
      .eth-colorized {
        background-color: #fffebb;
        &.title-colorized {
          background-color: #fffdb2;
        }
      }
      .rsk-colorized, .eos-colorized {
        background-color: #fff7a3;
        &.title-colorized {
          background-color: #ffeb98;
        }
      }
      .neo-colorized {
        background-color: #fff9d8;
        &.title-colorized {
          background-color: #fff3cc;
        }
      }
    }
    &.mainnet {
      .eth-colorized {
        background-color: #cdffdc;
        &.title-colorized {
          background-color: #c2ffd2;
        }
      }
      .rsk-colorized, .eos-colorized {
        background-color: #dafdd8;
        &.title-colorized {
          background-color: #befdc2;
        }
      }
      .neo-colorized {
        background-color: #d0ffb8;
        &.title-colorized {
          background-color: #c0eaa9;
        }
      }
    }
  }
  &.mainnet &__content {
    &.testnet {
      opacity: 0;
    }
    &.mainnet {
      opacity: 1;
    }
  }
  &.testnet  &__content {
    &.testnet {
      opacity: 1;
    }
    &.mainnet {
      opacity: 0;
    }
  }
}

.eth-colorized, .rsk-colorized, .neo-colorized {
  border-radius: 1em;
  &.title-colorized {
    border-right: 3px solid #f6f6f7;
  }
}
.title-colorized {
  padding-bottom: 5em;
  &__small {
    padding-top: 2.264em;
    padding-bottom: 2.264em;
    .network-type__title {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

