.contracts-statistics {
  + .contracts-statistics {
    margin-top: 3em;
  }
  &_info {
    text-align: center;
    position: relative;
    margin: 0 2em;
    &__count {
      font-size: 5.5em;
      font-weight: bold;
      text-align: center;
    }
    &__count_new, &__count_new_error {
      font-size: 5.5em;
      font-weight: bold;
      position: absolute;
      right: 0.2em;
      top: 0;
      border-radius: 50%;
      //border: 1px solid;
      &:before {
        content: '+';
        display: inline;
      }
    }
    &__count_new {
      color: #63c700;
    }
    &__count_new_error {
      color: #C00;
    }
    &__icon {
      position: absolute;
      left: 0;
      font-size: 5em;
      top: 0;
      margin-left: 0.2em;
    }
  }
  &_name {
    text-align: center;
    font-size: 2em;
    padding: 1em 0 0;
    border-top: 2px solid #8dc2fa;
    margin: 0 1.5em;
  }
  .grid-row {
    + .grid-row {
      margin-top: 1em;
    }
  }
}

.grid-row {
  &.with-padding {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}
.network-type {
  position: relative;
  &__title {
    color: #888;
    text-align: center;
    font-size: 2.7em;
    line-height: 2em;
    img {
      height: 1.5em;
      vertical-align: middle;
      margin-top: -0.2em;
    }
    span {
      vertical-align: middle;
      &.bold {
        color: #444;
      }
    }
  }
  &__content {
    transition: opacity linear 1s;

    &.testnet {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }
  &.mainnet &__content {
    &.testnet {
      opacity: 0;
    }
    &.mainnet {
      opacity: 1;
    }
  }
  &.testnet  &__content {
    &.testnet {
      opacity: 1;
    }
    &.mainnet {
      opacity: 0;
    }
  }
}

.eth-colorized, .rsk-colorized {
  border-radius: 1em;
}

.testnet {
  .eth-colorized {
    background-color: $ropsten-color;
  }
  .rsk-colorized {
    background-color: #ffdac7;
  }
}
.mainnet {
  .eth-colorized {
    background-color: #dffff1;
  }
  .rsk-colorized {
    background-color: #dff1ff;
  }
}


