@import 'grid';
@import 'awesome';

$ropsten-color: #ffd;
html, body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  font-size: 0.485vw;
  position: relative;
  background-color: #f6f6f7;
}

header {
  padding: 2em;
  text-align: center;
}
.header-logotype {
  width: 19.2em;
  height: 4.2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.blue-color {
  color: #1082f3;
}

.all-info-container {
  //margin-left: auto;
  //margin-right: auto;
  //width: 96%;
  //margin-top: 2em;
  position: relative;
}

.currency-stat {
  opacity: 1;
  transition: opacity 0.7s linear;
  & ~ .currency-stat {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &.hidden-stat {
    opacity: 0;
  }
}

.registrations-statistics {
  font-size: 90%;
  &:after {
    clear: both;
    display: block;
    content: '';
  }
}
.all-count-stat {
  width: 30em;
  height: 10em;
  box-sizing: border-box;
  position: relative;
  float: left;
  overflow: visible;
  &.with-network-name {
    height: 8em;
    text-align: center;
  }
  &.eth-mainnet {
    .eth-mainnet {
      opacity: 1;
    }
  }
  &.eth-ropsten {
    background-color: $ropsten-color;
    .eth-ropsten {
      opacity: 1;
    }
  }
  &_number {
    font-weight: bold;
    font-size: 5.5em;
    line-height: 1;
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    margin-top: -0.5em;
    &.eth-mainnet &__plus {
      background-color: #fff;
    }
    &.eth-ropsten &__plus {
      background-color: $ropsten-color;
    }
    &.eth-mainnet, &.eth-ropsten {
      transition: opacity linear 1s;
      opacity: 0;
    }
    &__plus {
      font-size: 0.8em;
      position: absolute;
      left: 100%;
      color: #63c700;
      margin-left: 0.5em;
      border-radius: 50%;
      text-align: center;
      width: 2.2em;
      line-height: 2.2em;
      margin-top: -0.4em;
    }
  }
}
.bold {
  font-weight: bold;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.clearfix {
  &:after, &:before {
    display: table;
    content: '';
    width: 100%;
  }
}
.text-left {
  text-align: left!important;
}
.text-center {
  text-align: center!important;
}
.relative {
  position: relative;
}
@import 'currencies';
@import 'contracts';


@media screen and (max-width: 800px) {
  body {
    font-size: 1.1vw;
  }
  .all-info-container {
    //width: 96%;
  }
}

@media screen and (max-width: 680px) {
  body {
    font-size: 2vw;
  }
  .registrations-statistics {
    font-size: 80%;
    margin-left: 2em;
    margin-right: 2em;
  }
}


.currency-marqu {
  white-space: nowrap;
  overflow: hidden;
  background-color: #fff;
  text-shadow: 0 1px 2px rgb(255, 255, 255);
  border-bottom: 1px solid #aaa;
  &-block {
    text-indent: initial;
    display: inline-block;
    padding: 0.1em 0.9em 0;
    font-size: 3vw;
    font-weight: bold;
    line-height: 1.5em;
    img {
      height: 1.3em;
    }
    &_up {
      color: #0a0;
    }
    &_down {
      color: #a00;
    }
  }
}


.resources-content {
  margin-left: 0;
  margin-right: 0;
  > .grid-cell {
    padding-left: 0;
    padding-right: 0;
  }
}