<div class="grid-cell grid-cell-1-5 grid-cell-s-1 title-colorized title-colorized__small">
    <div class="grid-row with-padding">
        <div class="grid-cell grid-cell-2-5">
            <div class="network-type__title one-line-stat-title">
                <img src="/static/images/neo.png">&nbsp;NEO
            </div>
        </div>
        <div class="grid-cell grid-cell-3-5">
            <div class="contracts-statistics_info">
                <div class="contracts-statistics_info__count">
                    {{networksKeys[net]['NEO'].contracts}}
                </div>
                <div class="contracts-statistics_info__count_new"
                     ng-if="networksKeys[net]['NEO'].new_contracts">{{networksKeys[net]['NEO'].new_contracts}}</div>
                <!--<i class="icon-lastwill contracts-statistics_info__icon blue-color"></i>-->
            </div>
        </div>
    </div>
</div>

<!-- div class="grid-cell grid-cell-1-5 grid-cell-s-1 neo-colorized title-colorized">
    <div class="grid-row with-padding">
        <div class="grid-cell grid-cell-1">
            <div class="network-type__title">
                <img src="/static/images/neo.png">&nbsp;NEO
            </div>
        </div>
    </div>

    <div class="grid-row with-padding">
        <div class="grid-cell grid-cell-1">
            <div class="contracts-statistics_info">
                <div class="contracts-statistics_info__count">
                    {{networksKeys[net]['NEO'].contracts}}
                </div>
                <div class="contracts-statistics_info__count_new"
                     ng-if="networksKeys[net]['NEO'].new_contracts">{{networksKeys[net]['NEO'].new_contracts}}</div>
                <i class="icon-contracts contracts-statistics_info__icon blue-color"></i>
            </div>
        </div>
    </div>
</div -->
<div class="grid-cell grid-cell-4-5 grid-cell-s-1  contracts-counts-rows">
    <!-- div class="grid-row neo-colorized with-padding">
        <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
            <div class="contracts-statistics_info">
                <div class="contracts-statistics_info__count">
                    {{networksKeys[net]['NEO'].contract_type_0}}
                </div>
                <div class="contracts-statistics_info__count_new"
                     ng-if="networksKeys[net]['NEO'].contract_type_0_new">{{networksKeys[net]['NEO'].contract_type_0_new}}</div>
                <i class="icon-lastwill contracts-statistics_info__icon blue-color"></i>
            </div>
            <div class="contracts-statistics_name">Will</div>
        </div>
        <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
            <div class="contracts-statistics_info">
                <div class="contracts-statistics_info__count">
                    {{networksKeys[net]['NEO'].contract_type_7}}
                </div>
                <div class="contracts-statistics_info__count_new"
                     ng-if="networksKeys[net]['NEO'].contract_type_7_new">{{networksKeys[net]['NEO'].contract_type_7_new}}</div>
                <i class="icon-crowdsale contracts-statistics_info__icon blue-color"></i>
            </div>
            <div class="contracts-statistics_name">Sale (CrowdSale)</div>
        </div>
        <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
            <div class="contracts-statistics_info">
                <div class="contracts-statistics_info__count">
                    {{networksKeys[net]['NEO'].contract_type_6}}
                </div>
                <div class="contracts-statistics_info__count_new"
                     ng-if="networksKeys[net]['NEO'].contract_type_6_new">{{networksKeys[net]['NEO'].contract_type_6_new}}</div>
                <i class="icon-token contracts-statistics_info__icon blue-color"></i>
            </div>
            <div class="contracts-statistics_name">Token</div>
        </div>
        <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
            <div class="contracts-statistics_info">
                <div class="contracts-statistics_info__count">
                    {{networksKeys[net]['NEO'].contract_type_1}}
                </div>
                <div class="contracts-statistics_info__count_new"
                     ng-if="networksKeys[net]['NEO'].contract_type_1_new">{{networksKeys[net]['NEO'].contract_type_1_new}}</div>
                <i class="icon-key contracts-statistics_info__icon blue-color"></i>
            </div>
            <div class="contracts-statistics_name">Lostkey</div>
        </div>
        <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
            <div class="contracts-statistics_info">
                <div class="contracts-statistics_info__count">
                    {{networksKeys[net]['NEO'].contract_type_2}}
                </div>
                <div class="contracts-statistics_info__count_new"
                     ng-if="networksKeys[net]['NEO'].contract_type_2_new">{{networksKeys[net]['NEO'].contract_type_2_new}}</div>
                <i class="icon-deffered contracts-statistics_info__icon blue-color"></i>
            </div>
            <div class="contracts-statistics_name">Deferred</div>
        </div>
    </div -->
    <div class="grid-row statuses-row">
        <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
            <div class="contracts-statistics_info">
                <div class="contracts-statistics_info__count">
                    {{networksKeys[net]['NEO'].created_contracts}}
                </div>
                <div class="contracts-statistics_info__count_new"
                     ng-if="networksKeys[net]['NEO'].now_created">{{networksKeys[net]['NEO'].now_created}}</div>
            </div>
            <!--<div class="contracts-statistics_name">Created</div>-->
        </div>
        <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
            <div class="contracts-statistics_info">
                <div class="contracts-statistics_info__count">
                    {{networksKeys[net]['NEO'].launch}}
                </div>
                <div class="contracts-statistics_info__count_new"
                     ng-if="networksKeys[net]['NEO'].launch">{{networksKeys[net]['NEO'].launch}}</div>
            </div>
            <!--<div class="contracts-statistics_name">Launch</div>-->
        </div>
        <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
            <div class="contracts-statistics_info">
                <div class="contracts-statistics_info__count">
                    {{networksKeys[net]['NEO'].active_contracts}}
                </div>
                <div class="contracts-statistics_info__count_new"
                     ng-if="networksKeys[net]['NEO'].now_active">{{networksKeys[net]['NEO'].now_active}}</div>
            </div>
            <!--<div class="contracts-statistics_name">Active</div>-->
        </div>
        <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
            <div class="contracts-statistics_info">
                <div class="contracts-statistics_info__count">
                    {{networksKeys[net]['NEO'].done}}
                </div>
                <div class="contracts-statistics_info__count_new"
                     ng-if="networksKeys[net]['NEO'].now_done">{{networksKeys[net]['NEO'].now_done}}</div>
            </div>
            <!--<div class="contracts-statistics_name">Done</div>-->
        </div>
        <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
            <div class="contracts-statistics_info">
                <div class="contracts-statistics_info__count">
                    {{networksKeys[net]['NEO'].error}}
                </div>
                <div class="contracts-statistics_info__count_new_error"
                     ng-if="networksKeys[net]['NEO'].now_error">{{networksKeys[net]['NEO'].now_error}}</div>
            </div>
            <!--<div class="contracts-statistics_name">Error</div>-->
        </div>
    </div>
</div>