<div class="grid-cell grid-cell-1-5 grid-cell-s-1 title-colorized">
    <div class="grid-row with-padding">
        <div class="grid-cell grid-cell-2-5">
            <div class="network-type__title">
                <img src="/static/images/tron.png">&nbsp;TRON
            </div>
        </div>
        <div class="grid-cell grid-cell-3-5">
            <div class="contracts-statistics_info">
                <div class="contracts-statistics_info__count">
                    {{networksKeys[net]['TRON'].contracts}}
                </div>
                <div class="contracts-statistics_info__count_new"
                     ng-if="networksKeys[net]['TRON'].new_contracts">{{networksKeys[net]['TRON'].new_contracts}}</div>
            </div>
        </div>
    </div>
</div>




<div class="grid-cell grid-cell-4-5 grid-cell-s-1 contracts-counts-rows">
    <div class="grid-row">
        <div class="grid-cell grid-cell-1-4 grid-cell-ps-1 grid-cell-s-1-2">
            <div class="contracts-statistics_info">
                <div class="contracts-statistics_info__count">
                    {{networksKeys[net]['TRON'].contract_type_15}}
                </div>
                <div class="contracts-statistics_info__count_new"
                     ng-if="networksKeys[net]['TRON'].contract_type_15_new">{{networksKeys[net]['TRON'].contract_type_15_new}}</div>
                <i class="icon-tron-token contracts-statistics_info__icon blue-color"></i>
            </div>
            <!--<div class="contracts-statistics_name">Account</div>-->
        </div>
        <div class="grid-cell grid-cell-1-4 grid-cell-ps-1 grid-cell-s-1-2">
            <div class="contracts-statistics_info">
                <div class="contracts-statistics_info__count">
                    {{networksKeys[net]['TRON'].contract_type_16}}
                </div>
                <div class="contracts-statistics_info__count_new"
                     ng-if="networksKeys[net]['TRON'].contract_type_16_new">{{networksKeys[net]['TRON'].contract_type_16_new}}</div>
                <i class="icon-ga contracts-statistics_info__icon blue-color"></i>
            </div>
            <!--<div class="contracts-statistics_name">Token</div>-->
        </div>
        <div class="grid-cell grid-cell-1-4 grid-cell-ps-1 grid-cell-s-1-2">
            <div class="contracts-statistics_info">
                <div class="contracts-statistics_info__count">
                    {{networksKeys[net]['TRON'].contract_type_17}}
                </div>
                <div class="contracts-statistics_info__count_new"
                     ng-if="networksKeys[net]['TRON'].contract_type_17_new">{{networksKeys[net]['TRON'].contract_type_17_new}}</div>
                <i class="icon-tron-airdrop contracts-statistics_info__icon blue-color"></i>
            </div>
            <!--<div class="contracts-statistics_name">Crowdsale</div>-->
        </div>
        <div class="grid-cell grid-cell-1-4 grid-cell-ps-1 grid-cell-s-1-2">
            <div class="contracts-statistics_info">
                <div class="contracts-statistics_info__count">
                    {{networksKeys[net]['TRON'].contract_type_18}}
                </div>
                <div class="contracts-statistics_info__count_new"
                     ng-if="networksKeys[net]['TRON'].contract_type_18_new">{{networksKeys[net]['TRON'].contract_type_18_new}}</div>
                <i class="icon-key contracts-statistics_info__icon blue-color"></i>
            </div>
            <!--<div class="contracts-statistics_name">I Token</div>-->
        </div>
    </div>
    <div class="grid-row statuses-row">
        <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
            <div class="contracts-statistics_info">
                <div class="contracts-statistics_info__count">
                    {{networksKeys[net]['TRON'].created_contracts}}
                </div>
                <div class="contracts-statistics_info__count_new"
                     ng-if="networksKeys[net]['TRON'].now_created">{{networksKeys[net]['TRON'].now_created}}</div>
            </div>
            <!--<div class="contracts-statistics_name">Created</div>-->
        </div>
        <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
            <div class="contracts-statistics_info">
                <div class="contracts-statistics_info__count">
                    {{networksKeys[net]['TRON'].launch}}
                </div>
                <div class="contracts-statistics_info__count_new"
                     ng-if="networksKeys[net]['TRON'].launch">{{networksKeys[net]['TRON'].launch}}</div>
            </div>
            <!--<div class="contracts-statistics_name">Launch</div>-->
        </div>
        <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
            <div class="contracts-statistics_info">
                <div class="contracts-statistics_info__count">
                    {{networksKeys[net]['TRON'].active_contracts}}
                </div>
                <div class="contracts-statistics_info__count_new"
                     ng-if="networksKeys[net]['TRON'].now_active">{{networksKeys[net]['TRON'].now_active}}</div>
            </div>
            <!--<div class="contracts-statistics_name">Active</div>-->
        </div>
        <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
            <div class="contracts-statistics_info">
                <div class="contracts-statistics_info__count">
                    {{networksKeys[net]['TRON'].done}}
                </div>
                <div class="contracts-statistics_info__count_new"
                     ng-if="networksKeys[net]['TRON'].now_done">{{networksKeys[net]['TRON'].now_done}}</div>
            </div>
            <!--<div class="contracts-statistics_name">Done</div>-->
        </div>
        <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
            <div class="contracts-statistics_info">
                <div class="contracts-statistics_info__count">
                    {{networksKeys[net]['TRON'].error}}
                </div>
                <div class="contracts-statistics_info__count_new_error"
                     ng-if="networksKeys[net]['TRON'].now_error">{{networksKeys[net]['TRON'].now_error}}</div>
            </div>
            <!--<div class="contracts-statistics_name">Error</div>-->
        </div>
    </div>
</div>