<div class="all-info-container" ng-if="statistics">
    <div class="grid-row">
        <div class="grid-cell grid-cell-1-4 grid-cell-ps-1 grid-cell-s-1-2">
            <div class="currency-info-block"
                 ng-class="{'currency-info-block__positive': statistics.currency_statistics.wish_usd_percent_change_24h >= 0, 'currency-info-block__negative': statistics.currency_statistics.wish_usd_percent_change_24h < 0}">
                <div class="currency-info-block_title">
                    <img class="currency-info-block_title_icon" src="/static/images/wish.svg">
                    WISH
                </div>
                <div class="currency-info-block_rate">${{statistics.currency_statistics.wish_price_usd}}</div>
                <div class="currency-info-block_range">
                    <div class="float-right">Rank <b>{{statistics.currency_statistics.mywish_rank}}</b></div>
                    {{statistics.currency_statistics.wish_usd_percent_change_24h > 0 ? '+' : ''}}{{statistics.currency_statistics.wish_usd_percent_change_24h}}%
                </div>
            </div>
        </div>
        <div class="grid-cell grid-cell-1-4 grid-cell-ps-1 grid-cell-s-1-2">
            <div class="currency-info-block"
                 ng-class="{'currency-info-block__positive': statistics.currency_statistics.wish_eth_percent_change_24h >= 0, 'currency-info-block__negative': statistics.currency_statistics.wish_eth_percent_change_24h < 0}">
                <div class="currency-info-block_title">
                    <img class="currency-info-block_title_icon" src="/static/images/eth2.svg">
                    ETH
                </div>
                <div class="currency-info-block_rate">{{statistics.currency_statistics.wish_price_eth}}</div>
                <div class="currency-info-block_range">
                    {{statistics.currency_statistics.wish_eth_percent_change_24h > 0 ? '+' : ''}}{{statistics.currency_statistics.wish_eth_percent_change_24h}}%
                </div>
            </div>
        </div>
        <div class="grid-cell grid-cell-1-4 grid-cell-ps-1 grid-cell-s-1-2">
            <div class="currency-info-block"
                 ng-class="{'currency-info-block__positive': statistics.currency_statistics.btc_percent_change_24h >= 0, 'currency-info-block__negative': statistics.currency_statistics.btc_percent_change_24h < 0}">
                <div class="currency-info-block_title">
                    <img class="currency-info-block_title_icon" src="/static/images/btc.svg">
                    BTC
                </div>
                <div class="currency-info-block_rate">${{statistics.currency_statistics.btc_price_usd}}</div>
                <div class="currency-info-block_range">
                    {{statistics.currency_statistics.btc_percent_change_24h > 0 ? '+' : ''}}{{statistics.currency_statistics.btc_percent_change_24h}}%
                </div>
            </div>
        </div>
        <div class="grid-cell grid-cell-1-4 grid-cell-ps-1 grid-cell-s-1-2">
            <div class="currency-info-block"
                 ng-class="{'currency-info-block__positive': statistics.currency_statistics.eth_percent_change_24h >= 0, 'currency-info-block__negative': statistics.currency_statistics.eth_percent_change_24h < 0}">
                <div class="currency-info-block_title">
                    <img class="currency-info-block_title_icon" src="/static/images/eth2.svg">
                    ETH
                </div>
                <div class="currency-info-block_rate">${{statistics.currency_statistics.eth_price_usd}}</div>
                <div class="currency-info-block_range">
                    {{statistics.currency_statistics.eth_percent_change_24h > 0 ? '+' : ''}}{{statistics.currency_statistics.eth_percent_change_24h}}%
                </div>
            </div>
        </div>
    </div>
    <div class="registrations-statistics">
        <div class="grid-row">
            <div class="grid-cell grid-cell-1-2 grid-cell-s-1">
                <div class="all-count-stat">
                    <div class="all-count-stat_title">
                        <i class="icon-account blue-color"></i>&nbsp;&nbsp;
                        <span>Users</span>
                    </div>
                    <div class="all-count-stat_number">
                        {{statistics.user_statistics.users}}
                        <span class="all-count-stat_number__plus"
                              ng-if="statistics.user_statistics.new_users">+{{statistics.user_statistics.new_users}}</span>
                    </div>
                </div>
            </div>
            <div class="grid-cell grid-cell-1-2 grid-cell-s-1">
                <div class="all-count-stat" ng-class="{'eth-mainnet': network == 'ETHEREUM_MAINNET', 'eth-ropsten': network == 'ETHEREUM_ROPSTEN'}">
                    <div class="all-count-stat_title">
                        <i class="icon-contracts blue-color"></i>&nbsp;&nbsp;
                        <span>Contracts</span>
                    </div>
                    <div class="all-count-stat_number eth-mainnet">
                        {{statistics['ETHEREUM_MAINNET'].contracts}}
                        <span class="all-count-stat_number__plus"
                              ng-if="statistics['ETHEREUM_MAINNET'].new_contracts">+{{statistics['ETHEREUM_MAINNET'].new_contracts}}</span>
                    </div>
                    <div class="all-count-stat_number eth-ropsten">
                        {{statistics['ETHEREUM_ROPSTEN'].contracts}}
                        <span class="all-count-stat_number__plus"
                              ng-if="statistics['ETHEREUM_ROPSTEN'].new_contracts">+{{statistics['ETHEREUM_ROPSTEN'].new_contracts}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contracts-statistics">
        <div class="network-type__title">
            <img src="/static/images/eth-dark.svg">
            <span ng-class="{bold: network == 'ETHEREUM_MAINNET'}">Mainnet</span> /
            <img src="/static/images/eth-dark.svg">
            <span ng-class="{bold: network == 'ETHEREUM_ROPSTEN'}">Ropsten</span>
        </div>
        <div class="network-type" ng-class="{'eth-mainnet': network == 'ETHEREUM_MAINNET', 'eth-ropsten': network == 'ETHEREUM_ROPSTEN'}">
            <div class="network-type__content eth-mainnet">
                <div class="grid-row">
                    <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
                        <div class="contracts-statistics_info">
                            <div class="contracts-statistics_info__count">
                                {{statistics.ETHEREUM_MAINNET.contract_type_0}}
                            </div>
                            <div class="contracts-statistics_info__count_new" ng-if="statistics.ETHEREUM_MAINNET.contract_type_0_new">{{statistics.ETHEREUM_MAINNET.contract_type_0_new}}</div>
                            <i class="icon-lastwill contracts-statistics_info__icon blue-color"></i>
                        </div>
                        <div class="contracts-statistics_name">Will</div>
                    </div>
                    <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
                        <div class="contracts-statistics_info">
                            <div class="contracts-statistics_info__count">
                                {{statistics.ETHEREUM_MAINNET.contract_type_4}}
                            </div>
                            <div class="contracts-statistics_info__count_new" ng-if="statistics.ETHEREUM_MAINNET.contract_type_4_new">{{statistics.ETHEREUM_MAINNET.contract_type_4_new}}</div>
                            <i class="icon-crowdsale contracts-statistics_info__icon blue-color"></i>
                        </div>
                        <div class="contracts-statistics_name">Sale (CrowdSale)</div>
                    </div>
                    <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
                        <div class="contracts-statistics_info">
                            <div class="contracts-statistics_info__count">
                                {{statistics.ETHEREUM_MAINNET.contract_type_5}}
                            </div>
                            <div class="contracts-statistics_info__count_new" ng-if="statistics.ETHEREUM_MAINNET.contract_type_5_new">{{statistics.ETHEREUM_MAINNET.contract_type_5_new}}</div>
                            <i class="icon-token contracts-statistics_info__icon blue-color"></i>
                        </div>
                        <div class="contracts-statistics_name">Token</div>
                    </div>
                    <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
                        <div class="contracts-statistics_info">
                            <div class="contracts-statistics_info__count">
                                {{statistics.ETHEREUM_MAINNET.contract_type_1}}
                            </div>
                            <div class="contracts-statistics_info__count_new" ng-if="statistics.ETHEREUM_MAINNET.contract_type_1_new">{{statistics.ETHEREUM_MAINNET.contract_type_1_new}}</div>
                            <i class="icon-key contracts-statistics_info__icon blue-color"></i>
                        </div>
                        <div class="contracts-statistics_name">Lostkey</div>
                    </div>
                    <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
                        <div class="contracts-statistics_info">
                            <div class="contracts-statistics_info__count">
                                {{statistics.ETHEREUM_MAINNET.contract_type_2}}
                            </div>
                            <div class="contracts-statistics_info__count_new" ng-if="statistics.ETHEREUM_MAINNET.contract_type_2_new">{{statistics.ETHEREUM_MAINNET.contract_type_2_new}}</div>
                            <i class="icon-deffered contracts-statistics_info__icon blue-color"></i>
                        </div>
                        <div class="contracts-statistics_name">Deferred Payment</div>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
                        <div class="contracts-statistics_info">
                            <div class="contracts-statistics_info__count">
                                {{statistics['ETHEREUM_MAINNET'].created_contracts}}
                            </div>
                            <div class="contracts-statistics_info__count_new"
                                 ng-if="statistics['ETHEREUM_MAINNET'].now_created">{{statistics['ETHEREUM_MAINNET'].now_created}}</div>
                        </div>
                        <div class="contracts-statistics_name">Created</div>
                    </div>
                    <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
                        <div class="contracts-statistics_info">
                            <div class="contracts-statistics_info__count">
                                {{statistics['ETHEREUM_MAINNET'].launch}}
                            </div>
                            <div class="contracts-statistics_info__count_new"
                                 ng-if="statistics['ETHEREUM_MAINNET'].launch">{{statistics['ETHEREUM_MAINNET'].launch}}</div>
                        </div>
                        <div class="contracts-statistics_name">Launch</div>
                    </div>
                    <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
                        <div class="contracts-statistics_info">
                            <div class="contracts-statistics_info__count">
                                {{statistics['ETHEREUM_MAINNET'].active_contracts}}
                            </div>
                            <div class="contracts-statistics_info__count_new" ng-if="statistics['ETHEREUM_MAINNET'].now_active">{{statistics['ETHEREUM_MAINNET'].now_active}}</div>
                        </div>
                        <div class="contracts-statistics_name">Active</div>
                    </div>
                    <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
                        <div class="contracts-statistics_info">
                            <div class="contracts-statistics_info__count">
                                {{statistics['ETHEREUM_MAINNET'].done}}
                            </div>
                            <div class="contracts-statistics_info__count_new" ng-if="statistics['ETHEREUM_MAINNET'].now_done">{{statistics['ETHEREUM_MAINNET'].now_done}}</div>
                        </div>
                        <div class="contracts-statistics_name">Done</div>
                    </div>
                    <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
                        <div class="contracts-statistics_info">
                            <div class="contracts-statistics_info__count">
                                {{statistics['ETHEREUM_MAINNET'].error}}
                            </div>
                            <div class="contracts-statistics_info__count_new_error"
                                 ng-if="statistics['ETHEREUM_MAINNET'].now_error">{{statistics['ETHEREUM_MAINNET'].now_error}}</div>
                        </div>
                        <div class="contracts-statistics_name">Error</div>
                    </div>
                </div>
            </div>

            <div class="network-type__content eth-ropsten">
                <div class="grid-row">
                    <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
                        <div class="contracts-statistics_info">
                            <div class="contracts-statistics_info__count">
                                {{statistics.ETHEREUM_ROPSTEN.contract_type_0}}
                            </div>
                            <div class="contracts-statistics_info__count_new" ng-if="statistics.ETHEREUM_ROPSTEN.contract_type_0_new">{{statistics.ETHEREUM_ROPSTEN.contract_type_0_new}}</div>
                            <i class="icon-lastwill contracts-statistics_info__icon blue-color"></i>
                        </div>
                        <div class="contracts-statistics_name">Will</div>
                    </div>
                    <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
                        <div class="contracts-statistics_info">
                            <div class="contracts-statistics_info__count">
                                {{statistics.ETHEREUM_ROPSTEN.contract_type_4}}
                            </div>
                            <div class="contracts-statistics_info__count_new" ng-if="statistics.ETHEREUM_ROPSTEN.contract_type_4_new">{{statistics.ETHEREUM_ROPSTEN.contract_type_4_new}}</div>
                            <i class="icon-crowdsale contracts-statistics_info__icon blue-color"></i>
                        </div>
                        <div class="contracts-statistics_name">Sale (CrowdSale)</div>
                    </div>
                    <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
                        <div class="contracts-statistics_info">
                            <div class="contracts-statistics_info__count">
                                {{statistics.ETHEREUM_ROPSTEN.contract_type_5}}
                            </div>
                            <div class="contracts-statistics_info__count_new" ng-if="statistics.ETHEREUM_ROPSTEN.contract_type_5_new">{{statistics.ETHEREUM_ROPSTEN.contract_type_5_new}}</div>
                            <i class="icon-token contracts-statistics_info__icon blue-color"></i>
                        </div>
                        <div class="contracts-statistics_name">Token</div>
                    </div>
                    <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
                        <div class="contracts-statistics_info">
                            <div class="contracts-statistics_info__count">
                                {{statistics.ETHEREUM_ROPSTEN.contract_type_1}}
                            </div>
                            <div class="contracts-statistics_info__count_new" ng-if="statistics.ETHEREUM_ROPSTEN.contract_type_1_new">{{statistics.ETHEREUM_ROPSTEN.contract_type_1_new}}</div>
                            <i class="icon-key contracts-statistics_info__icon blue-color"></i>
                        </div>
                        <div class="contracts-statistics_name">Lostkey</div>
                    </div>
                    <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
                        <div class="contracts-statistics_info">
                            <div class="contracts-statistics_info__count">
                                {{statistics.ETHEREUM_ROPSTEN.contract_type_2}}
                            </div>
                            <div class="contracts-statistics_info__count_new" ng-if="statistics.ETHEREUM_ROPSTEN.contract_type_2_new">{{statistics.ETHEREUM_ROPSTEN.contract_type_2_new}}</div>
                            <i class="icon-deffered contracts-statistics_info__icon blue-color"></i>
                        </div>
                        <div class="contracts-statistics_name">Deferred Payment</div>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
                        <div class="contracts-statistics_info">
                            <div class="contracts-statistics_info__count">
                                {{statistics.ETHEREUM_ROPSTEN.created_contracts}}
                            </div>
                            <div class="contracts-statistics_info__count_new"
                                 ng-if="statistics.ETHEREUM_ROPSTEN.now_created">{{statistics.ETHEREUM_ROPSTEN.now_created}}</div>
                        </div>
                        <div class="contracts-statistics_name">Created</div>
                    </div>
                    <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
                        <div class="contracts-statistics_info">
                            <div class="contracts-statistics_info__count">
                                {{statistics.ETHEREUM_ROPSTEN.launch}}
                            </div>
                            <div class="contracts-statistics_info__count_new"
                                 ng-if="statistics.ETHEREUM_ROPSTEN.launch">{{statistics.ETHEREUM_ROPSTEN.launch}}</div>
                        </div>
                        <div class="contracts-statistics_name">Launch</div>
                    </div>
                    <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
                        <div class="contracts-statistics_info">
                            <div class="contracts-statistics_info__count">
                                {{statistics.ETHEREUM_ROPSTEN.active_contracts}}
                            </div>
                            <div class="contracts-statistics_info__count_new" ng-if="statistics.ETHEREUM_ROPSTEN.now_active">{{statistics.ETHEREUM_ROPSTEN.now_active}}</div>
                        </div>
                        <div class="contracts-statistics_name">Active</div>
                    </div>
                    <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
                        <div class="contracts-statistics_info">
                            <div class="contracts-statistics_info__count">
                                {{statistics.ETHEREUM_ROPSTEN.done}}
                            </div>
                            <div class="contracts-statistics_info__count_new" ng-if="statistics.ETHEREUM_ROPSTEN.now_done">{{statistics.ETHEREUM_ROPSTEN.now_done}}</div>
                        </div>
                        <div class="contracts-statistics_name">Done</div>
                    </div>
                    <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
                        <div class="contracts-statistics_info">
                            <div class="contracts-statistics_info__count">
                                {{statistics.ETHEREUM_ROPSTEN.error}}
                            </div>
                            <div class="contracts-statistics_info__count_new_error"
                                 ng-if="statistics.ETHEREUM_ROPSTEN.now_error">{{statistics.ETHEREUM_ROPSTEN.now_error}}</div>
                        </div>
                        <div class="contracts-statistics_name">Error</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--0: 'lastWill',-->
<!--1: 'lostKey',-->
<!--2: 'deferred',-->
<!--3: 'shopping',-->
<!--4: 'crowdSale',-->
<!--5: 'token'-->