
<div id="marquee" class="currency-marqu">
    <div class="currency-marqu-block"
         ng-class="'currency-marqu-block_' + (statistics.currency_statistics.wish_usd_percent_change_24h > 0 ? 'up' : 'down')">
        <img class="currency-info-block_title_icon" src="/static/images/wish.svg">
        ${{statistics.currency_statistics.wish_price_usd}}
    </div>

    <div class="currency-marqu-block currency-marqu-block_up">
        <img class="currency-info-block_title_icon" src="https://img-cdn.bitforex.vip/SWAPm.png">
        ${{statistics.currency_statistics.swap_price_usd | number}}
    </div>
    <!--<div class="currency-marqu-block"-->
         <!--ng-class="'currency-marqu-block_' + (statistics.currency_statistics.wish_eth_percent_change_24h > 0 ? 'up' : 'down')">-->
        <!--<img class="currency-info-block_title_icon" src="/static/images/wish.svg">-->
        <!--{{statistics.currency_statistics.wish_price_eth}} ETH-->
    <!--</div>-->
    <div class="currency-marqu-block"
         ng-class="'currency-marqu-block_' + (statistics.currency_statistics.btc_percent_change_24h > 0 ? 'up' : 'down')">
        <img class="currency-info-block_title_icon" src="/static/images/bitcoin.svg">
        ${{statistics.currency_statistics.btc_price_usd}}
    </div>
    <div class="currency-marqu-block"
         ng-class="'currency-marqu-block_' + (statistics.currency_statistics.eth_percent_change_24h > 0 ? 'up' : 'down')">
        <img class="currency-info-block_title_icon" src="/static/images/ethereum.png">
        ${{statistics.currency_statistics.eth_price_usd}}
    </div>


    <div class="currency-marqu-block"
         ng-class="'currency-marqu-block_' + (statistics.currency_statistics.usd_percent_change_24h > 0 ? 'up' : 'down')">
        <span class="currency-info-block_title_icon" style="font-size: 3.5vw; color: #777;">$</span>
        {{statistics.currency_statistics.usd_price_rub | number : '1.2'}} RUB
    </div>


    <!-- div class="currency-marqu-block"
         ng-class="'currency-marqu-block_' + (statistics.currency_statistics.eosish_usd_percent_change_24h > 0 ? 'up' : 'down')">
        <img class="currency-info-block_title_icon" src="/static/images/eosish-logo2.svg">
        ${{statistics.currency_statistics.eosish_price_usd}}
    </div>
    <div class="currency-marqu-block"
         ng-class="'currency-marqu-block_' + (statistics.currency_statistics.eosish_eos_percent_change_24h > 0 ? 'up' : 'down')">
        <img class="currency-info-block_title_icon" src="/static/images/eosish-logo2.svg">
        {{statistics.currency_statistics.eosish_price_eos}} EOS
    </div>
    <div class="currency-marqu-block"
         ng-class="'currency-marqu-block_' + (statistics.currency_statistics.eos_percent_change_24h > 0 ? 'up' : 'down')">
        <img class="currency-info-block_title_icon" src="/static/images/eos2.svg">
        ${{statistics.currency_statistics.eos_price_usd.toFixed(3)}}
    </div --->
</div>




<div class="all-info-container" ng-if="statistics">

    <div class="contracts-statistics">
        <div class="network-type"
             ng-class="{'mainnet': network == 'MAINNET', 'testnet': network == 'TESTNET'}">

            <div class="grid-row">
                <div class="grid-cell grid-cell-1-4 grid-cell-ps-1">
                    <div class="network-type__content">
                        <div class="grid-row with-padding">
                            <div class="grid-cell grid-cell-1">
                                <div class="contracts-statistics_info">
                                    <div class="contracts-statistics_info__count">
                                        Users: {{statistics.user_statistics.users}}
                                    </div>
                                    <div class="contracts-statistics_info__count_new"
                                         ng-if="statistics.user_statistics.new_users">
                                        {{statistics.user_statistics.new_users}}
                                    </div>
                                    <i class="icon-account contracts-statistics_info__icon blue-color"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="grid-cell grid-cell-1-4 grid-cell-ps-1 float-right">
                    <div class="network-type__content">
                        <div class="grid-row with-padding">
                            <div class="grid-cell grid-cell-1">
                                <div class="network-type__content_short-text">
                                    <span ng-class="{'bold': network == 'MAINNET'}">Mainnet</span>
                                    /
                                    <span ng-class="{bold: network == 'TESTNET'}">Testnet</span>&nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contracts-statistics balances-statistics">
        <div class="network-type" ng-class="{'mainnet': network == 'MAINNET', 'testnet': network == 'TESTNET'}">
            <div class="network-type__content mainnet">
                <div class="grid-row resources-content">
                    <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
                        <div class="balances-statistics_item"
                             ng-class="{
                             'balances-statistics_item__positive': statistics.balances_statistics.eth_account_balance >= 1,
                             'balances-statistics_item__negative': statistics.balances_statistics.eth_account_balance < 1
                             }">
                            <b>ETH:</b>
                            {{ statistics.balances_statistics.eth_account_balance|number:3 }}
                        </div>
                    </div>

                    <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
                        <div class="balances-statistics_item"
                             ng-class="{
                             'balances-statistics_item__positive': statistics.balances_statistics.eos_account_balance >= 50,
                             'balances-statistics_item__negative': statistics.balances_statistics.eos_account_balance < 50
                             }">
                            <b>EOS:</b>
                            {{ statistics.balances_statistics.eos_account_balance }}
                        </div>
                    </div>
                    <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
                        <div class="balances-statistics_item"
                             ng-class="{'balances-statistics_item__positive': statistics.balances_statistics.eos_net_builder < 90, 'balances-statistics_item__negative': statistics.balances_statistics.eos_net_builder >= 90}">
                            <b>NET:</b>
                            {{ statistics.balances_statistics.eos_net_builder|number:4 }} %
                        </div>
                    </div>
                    <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
                        <div class="balances-statistics_item"
                             ng-class="{'balances-statistics_item__positive': statistics.balances_statistics.eos_cpu_builder < 90, 'balances-statistics_item__negative': statistics.balances_statistics.eos_cpu_builder >= 90}">
                            <b>CPU:</b>
                            {{ statistics.balances_statistics.eos_cpu_builder|number:4 }} %
                        </div>
                    </div>
                    <div class="grid-cell grid-cell-1-5 grid-cell-ps-1 grid-cell-s-1-2">
                        <div class="balances-statistics_item"
                             ng-class="{
                             'balances-statistics_item__positive': statistics.balances_statistics.eos_ram_builder >= 40,
                             'balances-statistics_item__negative': statistics.balances_statistics.eos_ram_builder < 40
                             }">
                            <b>RAM:</b>
                            {{ statistics.balances_statistics.eos_ram_builder|number:2 }} kb
                        </div>
                    </div>
                </div>
            </div>
            <div class="network-type__content testnet">
                <div class="grid-row resources-content">
                    <div class="grid-cell grid-cell-1-6 grid-cell-ps-1 grid-cell-s-1-2">
                        <div class="balances-statistics_item"
                             ng-class="{
                             'balances-statistics_item__positive': statistics.balances_statistics.eth_test_account_balance >= 1,
                             'balances-statistics_item__negative': statistics.balances_statistics.eth_test_account_balance < 1
                             }">
                            <b>ETH:</b>
                            {{ statistics.balances_statistics.eth_test_account_balance|number:3 }}
                        </div>
                    </div>
                    <!--<div class="grid-cell grid-cell-1-7">-->
                        <!--<div class="balances-statistics_item"-->
                             <!--ng-class="{'balances-statistics_item__positive': true, 'balances-statistics_item__negative': ''}">-->
                            <!--<b>NEO:</b><br/>-->
                            <!--{{ statistics.balances_statistics.neo_test_balance|number:3 }}-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="grid-cell grid-cell-1-6 grid-cell-ps-1 grid-cell-s-1-2">
                        <div class="balances-statistics_item"
                             ng-class="{
                             'balances-statistics_item__positive': statistics.balances_statistics.gas_test_balance >= 5000,
                             'balances-statistics_item__negative': statistics.balances_statistics.gas_test_balance < 5000
                             }">
                            <b>NEO&nbsp;GAS:</b>
                            {{ statistics.balances_statistics.gas_test_balance|number:0 }}
                        </div>
                    </div>
                    <div class="grid-cell grid-cell-1-6 grid-cell-ps-1 grid-cell-s-1-2">
                        <div class="balances-statistics_item"
                             ng-class="{
                             'balances-statistics_item__positive': statistics.balances_statistics.eos_test_account_balance >= 50,
                             'balances-statistics_item__negative': statistics.balances_statistics.eos_test_account_balance < 50
                             }">
                            <b>EOS:</b>
                            {{ statistics.balances_statistics.eos_test_account_balance }}
                        </div>
                    </div>
                    <div class="grid-cell grid-cell-1-6 grid-cell-ps-1 grid-cell-s-1-2">
                        <div class="balances-statistics_item"
                             ng-class="{'balances-statistics_item__positive': statistics.balances_statistics.eos_net_test_builder < 90, 'balances-statistics_item__negative': statistics.balances_statistics.eos_net_test_builder >= 90}">
                            <b>NET:</b>
                            {{ statistics.balances_statistics.eos_net_test_builder|number:4 }} %
                        </div>
                    </div>
                    <div class="grid-cell grid-cell-1-6 grid-cell-ps-1 grid-cell-s-1-2">
                        <div class="balances-statistics_item"
                             ng-class="{'balances-statistics_item__positive': statistics.balances_statistics.eos_cpu_test_builder < 90, 'balances-statistics_item__negative': statistics.balances_statistics.eos_cpu_test_builder >= 90}">
                            <b>CPU:</b>
                            {{ statistics.balances_statistics.eos_cpu_test_builder|number:4 }} %
                        </div>
                    </div>
                    <div class="grid-cell grid-cell-1-6 grid-cell-ps-1 grid-cell-s-1-2">
                        <div class="balances-statistics_item"
                             ng-class="{
                             'balances-statistics_item__positive': statistics.balances_statistics.eos_ram_test_builder >= 40,
                             'balances-statistics_item__negative': statistics.balances_statistics.eos_ram_test_builder < 40
                             }">
                            <b>RAM:</b>
                            {{ statistics.balances_statistics.eos_ram_test_builder|number:2 }} kb
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contracts-statistics">
        <div class="network-type" ng-class="{'mainnet': network == 'MAINNET', 'testnet': network == 'TESTNET'}">
            <div class="network-type__content mainnet" ng-include="'/templates/mainnet.html'"></div>
            <div class="network-type__content testnet" ng-include="'/templates/testnet.html'"></div>
        </div>
    </div>
</div>
