<div class="grid-row contracts-info-row eth-colorized"
     ng-include="'/templates/blockchains/eth.html'"
     ng-init="net = 'TESTNET'"></div>
<!--<div class="grid-row"-->
     <!--ng-include="'/templates/blockchains/rsk.html'"></div>-->
<!--<br/>-->
<div class="grid-row contracts-info-row eos-colorized"
     ng-include="'/templates/blockchains/eos.html'"></div>

<div class="grid-row contracts-info-row tron-colorized"
     ng-include="'/templates/blockchains/tron.html'"></div>

<div class="grid-row contracts-info-row neo-colorized"
     ng-include="'/templates/blockchains/neo.html'"></div>
